*~
*#*#
.antlr
.cache
*.user

# Local claude files
.claude/settings.local.json

# Python cache
__pycache__

# Development environment cache folders
.vs
.vscode

# Output folders/files on different platforms
/out
/build
/publish
/regression
/dist
/install
cout.*
*.whl

# CMake test discovery cache files
cmake_test_discovery_*.json

# Environment configuration files
CMakeSettings.json

# compile commands symlink
/compile_commands.json

# Local user config
.envrc
.direnv
